ul {list-style: none;}

.logo-company {width: 50px;}

.starred {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    margin-top: 24px;
}

.fa-star{
    cursor: pointer;
    font-size: 20px;
}

.fullStar {color: gold;}
.emptyStar {color: black;}

button {
    border: none;
    background-color: rgb(101, 101, 248);
    color: white;
    border-radius: 24px;
    padding: 3px 12px;
    font-size: 12px;
}