<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <title>Search Jobs</title>
</head>

<body>

    <div id="app">

        <div class="main-container container">

            <div class="row">

                <h1 class="col title">Find your dream job</h1>

                <div class="modal-box">
                    <span class="modal-text" v-if="modalBox === true">Your application has been submitted correctly!</span>
                </div>

                <ul class="jobs-list col-10 offset-1" 
                    v-for="(job, index) in jobs">

                    <li class="starred">
                        <div>
                            <img class="logo-company" :src="getLogo(job)" alt="Logo Company">
                            <button class="apply-button"
                                v-if="!applied.includes(index)" 
                                @click="applyJob(index), removeFavorite(index)">
                                    APPLY
                            </button>
                            <button class="apply-button" v-else>APPLIED</button>
                        </div>
                        <i class="far fa-bookmark" v-if="!starred.includes(index)" :class="colorStar(index)"
                            @click="addFavoriteJob(index)">
                        </i>
                        <i class="fas fa-bookmark" v-else :class="colorStar(index)" @click="removeFavorite(index)">
                        </i>
                    </li>

                    <li class="job-position">{{ job.position }}</li>
                    <li class="company">
                        <i class="fas fa-briefcase"></i>
                        <span>{{ job.company }}</span> 
                    </li>
                    <li class="city">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>{{ job.city }}</span> 
                    </li>
                    <li class="description"> 
                        <i class="fas fa-info-circle"></i>
                        <span>{{ job.description }}</span>
                
                    </li>
                    <li class="contract">
                        <i class="fas fa-file-signature"></i>
                        <span>{{ job.contract }} Contract</span>
                    </li>
                    <li class="date">{{ job.created_at }}</li>
                </ul>
            </div>
        </div>

    </div>
    <script src="js/script.js"></script>
</body>

</html>